
# Front end
frontend/node_modules/
frontend/public/build/
frontend/.env

# Back end
backend/venv/
*/__pycache__/*
backend/*.pyc
backend/*.pyo
backend/.env
venv/
*pyc

# Logs and temp files
*.log
*.tmp

# System files
.DS_Store